/**
 * What goes here?
 *
 * Variables only.
 * No styles.
 */

/* Fonts */
$sans-serif: 'Open Sans', sans-serif;
$serif: 'EB Garamond', serif;

/* Sizes */
$base-font-size: 13pt;

/* Colors */
$text-color: rgb(62, 62, 62);
$bg-color: rgb(249, 249, 249);
$accent-color: rgb(153, 200, 200);